* {
box-sizing: border-box;
}
html,
body {  
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--second-font);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}
:root {
  --main-font: 'Montserrat', "Arial", sans-serif;
  --second-font: 'Roboto', sans-serif;
  --title-font:  'Russo One', sans-serif;
  --background-color: #1D1E24;
  --text-color: #49515dc2;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu__fullname {
  font-size: 20px;
  font-weight: bold;
}
.colored {
  color: #5757f8;
}
.menu__list {
  display: flex;
  padding: 0;
}
.menu__item:not(:last-child) {
  margin-right: 30px;
}
.menu__link {
  color: var(--text-color);
  text-decoration: none;
}
.header__content {
  background-color: #5757f8;
  border-radius: 20px 20px 0 0;
}
.header__info {
  display: flex;
  padding: 40px 40px;
}
.header__photo {
  
}
.header__photo-wrapper {
  position: relative;
  top: 60px;
  box-shadow: 0px 10px 22px -2px rgba(144, 149, 154, 0.2);
  transition: all 0.3s ease-in;
}
.header__photo-wrapper:hover {
  top: 50px;
  box-shadow: 0px 27px 16px 5px rgba(144, 149, 154, 0.4);
}
.header__text {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 40px;
}
.header__fullname {
  font-family: var(--second-font);
  font-size: 48px;
  margin: 0;
}
.header__position {
  font-family: var(--main-font);
  font-size: 16px;
}
.social {
  margin-top: 20px;
}
.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social__item {
}
.social__github {
  background: url('../img/icons/github-svgrepo-com.svg');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;  
}
.social__email {
  background: url('../img/icons/email-svgrepo-com.svg');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;  
}
.social__phone {
  background: url('../img/icons/phone-svgrepo-com.svg');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;  
}
.social__link {
  display: inline-block;
  width: 40px;
  height:40px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in;
}
.social__link:hover{
  box-shadow: 0px 6px 18px rgba(32, 32, 32, 0.575);
}
.main {
  
}